<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352085783853-1b0dgq91hhcifcm9slmp9ijct24rp9bk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352085783853-1b0dgq91hhcifcm9slmp9ijct24rp9bk</string>
	<key>API_KEY</key>
	<string>AIzaSyDplQHEFVLqeCvZol5oY8aGC8csySriRcM</string>
	<key>GCM_SENDER_ID</key>
	<string>352085783853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.henit-chobisa.trackfile</string>
	<key>PROJECT_ID</key>
	<string>trackfile-d3c62</string>
	<key>STORAGE_BUCKET</key>
	<string>trackfile-d3c62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352085783853:ios:d7c911bca0d1ead818cfa4</string>
</dict>
</plist>